* {
    line-height: 1.6;
    font-family: Arial, "Times New Roman" sans-serif;     
}

body {
    background: rgb(161, 160, 161); 
}

.text-centered {
    text-align: center;
}

.main-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 50%;
    padding: 4px;
    background: black;    
}    

/*While I've tested a background image, for now I will leave a simple shade of light grey to
work as a background. You can find the proposed background image in /images, named as "background.jpg".*/

.under-image-text{
    text-align: center;
    font-weight: bold;
    color: white;    
    padding: 8px;
}

.appetizers-title {        
    color: rgb(27, 92, 11);
}

.main-courses-title {
    color:rgb(255, 255, 255);
}

.desserts-title {
    color:rgb(206, 23, 16);
}

/*Styles and edits for the various recipes will be added below will this line.*/


.food-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;    
    width: 720px;
    padding: 4px;
    background: black;    
}